@require '~@/assets/style/variables'

centerChildContent() {
  display inline-flex
  align-items center
  justify-content center
}

centerAbsContent() {
  top 50%
  left 50%
  transform translate(-50%, -50%)
}

centerHorizontallyAbsContent() {
  left 50%
  transform translateX(-50%)
}

centerVerticallyAbsContent() {
  top 50%
  transform translateY(-50%)
}

textEllipsis() {
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}
