// color
$transparent = transparent
$white_fff = #ffffff
$black_222 = #222222
$gray_aaa = #aaa

// Font Size
$font_size_12 = 1.2rem
$font_size_14 = 1.4rem
$font_size_16 = 1.6rem
$font_size_28 = 2.8rem
$font_size_48 = 4.8rem
$font_size_88 = 8.8rem

// Font Weight
$font_weight_normal = 400
$font_weight_bold = 700
$font_weight_black = 900

// Margin
$margin_4 = 4px
$margin_8 = 8px
$margin_12 = 12px
$margin_16 = 16px
$margin_20 = 20px

// Padding
$padding_4 = 4px
$padding_8 = 8px
$padding_12 = 12px
$padding_16 = 16px
$padding_20 = 20px
